# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
uploads/
.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/
nbproject/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
package-lock.json
nbproject/
.svn/
/node_modules
/public/hot
/public/storage
/public/cache
/storage/*.key
/vendor
/.idea
/.vagrant
/.devsys
/.scannerwork
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/_CRs
/_db
/storage
/storage/app
/storage/debugbar
/storage/framework
/storage/logs
/branches
_sql
_misc
sonar*
specs*
_ide_helper.php
# public/sass
# public/fonts
composer.lock
Dockerfile